
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isExistingOwner(userId) {
      return resource != null && isOwner(userId);
    }

    match /codusers/{codUserId} {
      allow get, list: if isOwner(codUserId);
      allow create: if isOwner(codUserId);
      allow update: if isExistingOwner(codUserId);
      allow delete: if isExistingOwner(codUserId);

      match /accounts/{accountId} {
        allow get, list: if isOwner(codUserId);
        allow create: if isOwner(codUserId);
        allow update, delete: if isExistingOwner(codUserId);
      }

      match /userTokens/{userTokenId} {
        allow get, list: if isOwner(codUserId);
        allow create: if isOwner(codUserId);
        allow update, delete: if isExistingOwner(codUserId);
      }
    }
  }
}
